@keyframes draw
    to
        stroke-dashoffset: 0

.svg-anime
    stroke: #000000
    stroke-width: 2
    fill: none
    stroke-dasharray: 1610
    stroke-dashoffset: 1610
    animation: draw 4s cubic-bezier(0.9, 0.03, 0.69, 0.22) forwards
