footer
    width: 100vw
.footer-container
    padding-top: 150px
    padding-bottom: 150px
    background: url('../../assets/images/bg-footer.jpg') no-repeat center/cover
    text-align: center
    color: white

.footer-text
    font-family: 'Hi Melody', serif
    font-size: 50px
    margin-bottom: 20px
    margin-top: 0
